@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.imageContaienr {
  height: 100%;
  width: 100%;
  background-color: $grey-dark-2;
}

.btnLogStatus {
  padding: 1rem 2rem;
  text-transform: uppercase;
}
