@import './settings.scss';
@import './typography.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
  line-height: 1.5;
  font-family: $font-main;
}

body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  font-size: 1.6rem;
  border: none;
  &:focus {
    outline-color: $grey-dark-3;
  }
}
