// Colors
$dark: #000;
$grey-dark-1: #111;
$grey-dark-2: #222;
$grey-dark-3: #333;
$grey: #999;
$grey-light-1: #f4f4f4;
$light: #fff;

// Fonts
$font-logo: 'Verdana';
$font-main: 'Roboto', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Utils
$bs-medium: 0.3rem 0.3rem 0.5rem rgba($dark, 0.2);
