@import '../../../styles/settings.scss';

// .root {
// }

.large {
  transition: all 0.7s ease-in-out;
  max-height: 40vh;
}

.small {
  transition: all 0.7s ease-in-out;
  max-height: 20vh;
}

.pageBody {
  border: 1px solid black;
  margin: 5rem auto 0 auto;
  max-width: 117rem;
}
