@import '../../../styles/settings.scss';

// .root {
// }

.large {
  height: 50vh;
}

.small {
  height: 30vh;
}

.pageBody {
  border: 1px solid black;
  margin: 5rem auto 0 auto;
  max-width: 117rem;
}
