@import '../../../styles/settings.scss';

.root {
  margin: 1rem;
  padding: 3rem 6rem;
  background-color: $grey-light-1;
  box-shadow: $bs-medium;

  & h5 {
    text-transform: lowercase;
    font-weight: 300;
    color: $grey-dark-3;
  }

  & .nameSpecial {
    text-transform: uppercase;
    color: $dark;
  }
}
